.img {
    margin-left: 240px;
    transition: transform .1s;
    filter: grayscale(50%);
    height: 250px;
    width: 250px;
}

.img:hover {
    filter: none;
    transform: scale(1.2);
}

.img1 {
    margin-left: 840px;
    margin-top: 30px;
    height: 250px;
    width: 250px;
    transition: transform .1s;
    filter: grayscale(50%);
}

.img1:hover {
    filter: none;
    transform: scale(1.2);
}

.img2 {
    margin-left: 230px;
    margin-top: 30px;
    height: 250px;
    width: 250px;
    transition: transform .1s;
    filter: grayscale(50%);
}

.img2:hover {
    filter: none;
    transform: scale(1.2);
}

.img3 {
    margin-left: 860px;
    margin-top: 30px;
    height: 250px;
    width: 250px;
    transition: transform .1s;
    filter: grayscale(50%);
}

.img3:hover {
    filter: none;
    transform: scale(1.2);
}

.btn {
    float: right;
    padding: 10px 20px 10px 20px;
    color: gold;
    background-color: #55E6C1;
    font-size: 25px;
    border-style: none;
    margin-top: 20px;
    margin-left: 20px;
    transition: transform .1s;
}

.btn:hover {
    cursor: pointer;
    background-color: gold;
    color: #55E6C1;
    transform: scale(1.2);
}

.cricket {
    margin-right: 40px;
}

.img4 {
    margin-left: 230px;
    margin-top: 20px;
    height: 250px;
    width: 250px;
    transition: transform .1s;
    filter: grayscale(50%);
}

.img4:hover {
    filter: none;
    transform: scale(1.2);
}

.img5 {
    margin-left: 860px;
    margin-top: 20px;
    height: 250px;
    width: 250px;
    transition: transform .1s;
    filter: grayscale(50%);
}

.img5:hover {
    filter: none;
    transform: scale(1.2);
}

.img6 {
    margin-left: 230px;
    margin-top: 30px;
    height: 250px;
    width: 250px;
    transition: transform .1s;
    filter: grayscale(50%);
}

.img6:hover {
    filter: none;
    transform: scale(1.2);
}

.img7 {
    margin-left: 860px;
    margin-top: 20px;
    height: 250px;
    width: 250px;
    transition: transform .1s;
    filter: grayscale(50%);
}

.img7:hover {
    filter: none;
    transform: scale(1.2);
}

.img8 {
    margin-left: 230px;
    margin-top: 30px;
    height: 250px;
    width: 250px;
    transition: transform .1s;
    filter: grayscale(50%);
}

.img8:hover {
    filter: none;
    transform: scale(1.2);
}

.btn {
    float: right;
    padding: 10px 20px 10px 20px;
    color: gold;
    background-color: white;
    font-size: 25px;
    border-style: none;
    margin-top: 20px;
    margin-left: 20px;
    transition: transform .1s;
}

.btn:hover {
    cursor: pointer;
    background-color: gold;
    color: white;
    transform: scale(1.2);
}

.img9 {
    margin-left: 850px;
    margin-top: 20px;
    height: 250px;
    width: 250px;
    transition: transform .1s;
    filter: grayscale(50%);
}

.img9:hover {
    filter: none;
    transform: scale(1.2);
}

.img10 {
    margin-left: 230px;
    margin-top: 30px;
    height: 250px;
    width: 250px;
    transition: transform .1s;
    filter: grayscale(50%);
}

.img10:hover {
    filter: none;
    transform: scale(1.2);
}

.img11 {
    margin-left: 850px;
    margin-top: 20px;
    height: 250px;
    width: 250px;
    transition: transform .1s;
    filter: grayscale(50%);
}

.img11:hover {
    filter: none;
    transform: scale(1.2);
}
