h1 {
    margin-left: 200px;
    margin-top: 300px;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
}

.btn {
    float: right;
    padding: 10px 20px 10px 20px;
    color: black;
    background-color: #55E6C1;
    font-size: 25px;
    border-style: none;
    margin-top: 20px;
    margin-left: 20px;
    transition: transform .1s;
}

.btn:hover {
    cursor: pointer;
    background-color: black;
    color: #55E6C1;
    transform: scale(1.2);
}

body {
    background-color: #55E6C1;
}
