h1 {
    margin-left: 200px;
    margin-top: 300px;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: #c7ecee;
}

h2 {
    margin-left: 595px;
}

.btn {
    float: right;
    padding: 10px 20px 10px 20px;
    color: gold;
    background-color: #c7ecee;
    font-size: 25px;
    border-style: none;
    margin-top: 20px;
    margin-left: 20px;
    transition: transform .1s;
}

.btn:hover {
    cursor: pointer;
    background-color: gold;
    color: #c7ecee;
    transform: scale(1.2);
}